.div_menu{
  background-color: black;
}

table{
  margin-bottom: 5px;
}

a.menu:link{
  color:white;
  text-transform: uppercase;
}

.slider-div{
  text-align: center;
  margin: 0 auto;
}


p{
  text-align: justify;
  font-size: 12px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

.footer{
  font-size:18px !important;
}

.footer-alamat{
  font-size:12px;
}
